<!DOCTYPE html>
<html>
<head>
  <title>Polling</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
    <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
  -->
  <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices');
    </script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body ng-app="pool">

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
</div>


<script type="text/ng-template" id="/home.html">

<div class="row">
  <div class="col-md-12">

    <h1>Your Dashborad</h1>

    <div class="questionnaries">		
    	 <h2>Your Questionaires</h2>

    		<div class="add-questionnaire">
    			<h3>Add New Qustionnaire</h3>
    			<form name="formQuestionnarie" ng-submit="addQuestionnaire()">
    			   
    				<label for="name">Name of questionnarie</label>
    				<input name="name" ng-pattern="/^\w{3}/"  type="text" ng-model="name" id="name"/>


    				<button class="btn btn-primary" type="submit">Add questionnarie</button>

            <div class="invalid">
             <span ng-show="formQuestionnarie.name.$error.pattern">
              Field need to have min. 3 letters at the beginning
            </span>
            </div>
           
    			</form>
    		</div>

    		<div class="questionnaire-list" ng-hide="!questionnaires.length">
    			<h3>List of Yours Questionnaires</h3>


          <table class="table table-bordered">
            <thead>
              <th>Nr</th>
              <th> Name of Questionnaire</th>
              <th>Action</th>
            </thead>
            <tbody>
        			<tr ng-repeat="(index,questionnaire) in questionnaires">    
        			    <td>
        			    	{{index + 1}} 
                  </td>
                  <td>
                  <div ng-hide="editQuestionnaire[index]">
                     <a href="#/questionnaire/{{$index}}">
                        {{questionnaire.name}}
                        
                      </a>

                      <button class="btn" ng-click="activeEditQuestionnaire(index)">Edit</button>
                    </div>
              

                    <div ng-show="editQuestionnaire[index]">
                      <form name="formQuestionnarie[index]" ng-submit="endActiveEditQuestionnaire(index)">
                        <input  name="name" type="text" ng-pattern="/^\w{3}/" style="width: 85%;" ng-model="questionnaire.name"</>
                        <button class="btn btn-primary" type="submit">End Edit</button>
                      </form>

                       <div class="invalid">
                       <span ng-show="formQuestionnarie[index].name.$error.pattern">
                        Field need to have min. 3 letters at the beginning
                      </span>
                      </div>
                    </div>

        			    </td>





                  
                  <td><button class="btn" ng-click="deleteQuestionnaire(index)">Delete</button></td>
                  </td>
        			 
        			</tr>
            </tbody>
          </table>
    		</div>
    </div>

    <div class="questions">		
    	 <h2>Your Questions</h2>

    		<div class="add-questions">
    			<h3>Add New Qustions</h3>
    			<form name="formQuestion" ng-submit="addQuestion()">
    			   
    				<label for="title">Insert question</label>
    				<textarea name="title" ng-pattern="/^\w{3}/" rows="1" ng-model="title" id="title" style="width: 70%;"/>
    				<button class="btn btn-primary" type="submit">Add question</button>

             <div class="invalid">
                <span ng-show="formQuestion.title.$error.pattern">
                        Field need to have min. 3 letters at the beginning
                </span>
              </div>
    			</form>
    		</div>

    		<div class="questions-list" ng-hide="!questions.length">
    			<h3>List of Yours Questions</h3>
    			
          <table class="table table-bordered">
            <thead>
              
                <th></th>
                <th>Question</th>
                <th>Action</th>
            
            </thead>
            <tbody>
              <tr ng-repeat="(index,question) in questions">
                <td>{{index + 1}}</td>
                <td> 

                  <div ng-hide="edit[index]">
                  <a href="#/question/{{$index}}">
                    {{question.title}}
                    {{question.url}}
                    </a>

                    <button class="btn" ng-click="activeEditQuestion(index)">Edit</button>
                  </div>


                  

                  <div ng-show="edit[index]">
                    <form name="formQuestion[index]" ng-submit="endActiveEditQuestion(index)">
                    <textarea name="title" ng-pattern="/^\w{3}/" type="text" ng-pattern="/^\w+/" rows="1" style="width: 85%;" ng-model="question.title"</>
                    <button type="submit" class="btn btn-primary">End Edit</button>
                    <div class="invalid">
                      <span ng-show="formQuestion[index].title.$error.pattern">
                              Field need to have min. 3 letters at the beginning
                      </span>
                    </div>
                    </form>
                  </div>





                </td>

                <td><button class="btn" ng-click="deleteQuestion(index)">Delete</button></td>
              </tr>
            </tbody>
          </table>
    		</div>
    </div>
 </div>
 </div>


</script>


<script type="text/ng-template" id="/questionnaire.html">
  <div>
  		<h1>Questionnarie: {{questionnaire.name}}</h1>
  		<h2>Menage questions to your questionnarie</h2>



      <h3>Add/delete question</h3>

      <form ng-submit="addQuestionsToQuestionnaire()">
        <ui-select multiple ng-model="multiple.selectedQuestions" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false">
          <ui-select-match placeholder="Select questions">{{$item.title}}</ui-select-match>
          <ui-select-choices repeat="question in questions | propsFilter: {title: $select.search, url: $select.search}">
            <div ng-bind-html="question.title | highlight: $select.search"></div>

            <small>
              title: {{question.title}}
              url: <span ng-bind-html="''+question.url | highlight: $select.search"></span>
            </small>

          </ui-select-choices>
        </ui-select>



       
        <div class="panel panel-default" ng-hide="!list.length">
          <div class="panel-heading"><h3>Change questions order in questionnaire</h3></div>
          <div class="panel-body">
            <span>Drag and drop items in list</span>

            <ul class="list-group" ui-sortable="sortableOptions" ng-model="list" class="list">
            <li class="list-group-item item" ng-repeat="(index,item) in list">Question nr {{index+1}} is: <b>{{item.title}}</b></li>
           </ul>

          </div>
        </div>

        <div class="floatleft" style="margin-left: 20px;">
          <ul class="list logList">
            <li ng-repeat="entry in sortingLog track by $index" class="logItem">
              {{entry}}
            </li>
          </ul>
        </div>

        <button class="btn" type="submit">Save</button>
      </form>

		


  </div>
 </script>
<script type="text/ng-template" id="/question.html">

  <h1>{{question.title}}</h1>
  <h2>Add responses for your question</h2>
  <button class="btn btn-primary" ng-click="addNewInput()">New response</button>



  <table class="table table-bordered" ng-show="!!inputs.length">
        <thead>
          <tr>
            <th>Nr</th>
            <th colspan="2">Response</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index,input) in inputs">

            
              <td> {{index+1}} </td>
              <td colspan="2"> 


                <div ng-hide="editResponseState[index]">



                  <form name="formResponse[index]" ng-submit="addResponse(index)">
                    <textarea  name="response" ng-pattern="/^\w{3}/" rows="1" ng-model="input.name" style="width:80%;" placeholder="Insert your answer"></textarea> 
                     <button class="btn btn-primary" type="submit">Save</button>
                  </form>

                  <div class="invalid">
                    <span ng-show="formResponse[index].response.$error.pattern">
                            Field need to have min. 3 letters at the beginning
                    </span>
                  </div>
                </div>


                <div ng-show="editResponseState[index]">
                  {{input.name}}
                    <button class="btn" ng-click="activeEditResponse(index)">Edit</button>
                </div>


              </td>
              <td> 
                  <button class="btn" ng-click="deleteResponse(index)">Delete</button>

              </td>
              
          </tr>
        </tbody>
    </table>



</script>


</body>
</html>
